@charset "utf-8";
html{font-size:62.5%}
body{margin:0}
ul,li,h1,h2{padding:0;margin:0}
ul{list-style:none}
nav,header,article,section,footer{display:block}

.quick{position:absolute;left:0;top:-17px;overflow:hidden}
.quick li{float:left}
.quick a{font-size:14px}
.header{background:#5a50a0;background:-ms-linear-gradient(top, #665ab4 0%, #5a50a0 100%);background:-moz-linear-gradient(top, #665ab4 0%, #5a50a0 100%);background:-o-linear-gradient(top, #665ab4 0%, #5a50a0 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #665ab4), color-stop(100, #5a50a0));background:-webkit-linear-gradient(top, #665ab4 0%, #5a50a0 100%);background:linear-gradient(to bottom, #665ab4 0%, #5a50a0 100%);box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.15);height:61px;border-bottom:1px solid #554c9b}
.header .inner,
.footer .inner,
.content .inner{width:1170px;margin:0 auto}
.header .inner:after{content:'';display:block;clear:both}
.header .logo{float:left;padding-top:10px}
.header .logo a{display:block;width:63px;height:41px;background-position:5px 5px;margin-left:-5px}
.header .gnb{float:right}
.header .gnb a{font-family:'Noto Sans KR',
 sans-serif;color:#d8d6e8;text-decoration:none;font-size:16px;display:block}
.header .gnb >li{float:left;position:relative;padding-top:10px}
.header .gnb >li >a{padding:0 20px;height:41px;line-height:41px}
.header .gnb >li:last-of-type >a{padding-right:0}
.header .gnb a:hover,
.header .gnb a:focus{text-decoration:underline;color:#fff}
.header .gnb .on{color:#fff}
.header .gnb ul{position:absolute;right:-3px;top:46px;width:176px;background-position:-648px -204px;padding:16px 0 6px 0}
.header .gnb ul li{height:50px;line-height:50px;margin-bottom:1px}
.header .gnb ul a{font-size:14px;padding-left:68px}
.header .gnb a[href="#favorites"]:before{content:'';display:inline-block;width:17px;height:16px;vertical-align:middle;background-position:-532px 0;margin:-3px 2px 0 0}
.hide{display:none}
.header .gnb ul,
.header .logo a,
.header .gnb a[href="#favorites"]:before{background-image:url(/images/bg.png)}
.header .logo a{overflow:hidden;text-indent:-100%;font-size:0;line-height:0}
